* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

/*Header*/
header a {
  text-decoration: none;
  color: #f5f5f7;
}

header {
  background-color: #1d1d1f;
  width: 100%;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  font-size: 12px;
  height: 44px;
}

/*Iphone 13 Pro*/
#iphone13pro {
  color: #1d1d1f;
  background-image: url("images/iphone_13pro.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  width: 100%;
  height: 680px;
  display: flex;
  margin-bottom: 5px;
  flex-direction: column;
  padding-top: 35px;
  padding-bottom: 5px;
  align-items: center;
  line-height: 1.8;
}

#div-link {
  display: flex;
  justify-content: space-evenly;
}

.div-link a {
  text-decoration: none;
  color: #06c;
  display: flex;
  font-size: 20px;
}

#iphone13pro h1 {
  font-size: 50px;
}

#iphone13pro {
  font-size: 25px;
}

/*Iphone 13*/
#iphone13 {
  background-image: url("images/hero_iphone_13__f194u1rdooeq_mediumtall.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  width: 100%;
  height: 680px;
  display: flex;
  margin-bottom: 5px;
  flex-direction: column;
  padding-top: 35px;
  padding-bottom: 5px;
  align-items: center;
  line-height: 1.8;
}

.div-link {
  display: flex;
  justify-content: space-evenly;
}

#h1-13 {
  font-size: 50px;
}

#p-iphone13 {
  font-size: 25px;
  color: #ffb3de;
}

/*Valentine Section*/
#valentine {
  background-image: url("images/valentine-photo.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  width: 100%;
  height: 680px;
  display: flex;
  margin-bottom: 5px;
  flex-direction: column;
  padding-top: 35px;
  padding-bottom: 5px;
  align-items: center;
  line-height: 1.8;
}

#div-link {
  display: flex;
  justify-content: space-evenly;
}

#h1-valentine {
  font-size: 50px;
  color: #66023c;
  text-align: center;
}

#valentine p {
  font-size: 25px;
  color: #66023c;
}

/*multi section*/
.multi-section {
  flex-wrap: wrap;
  justify-content: space-between;
  background-position: center;
}

/*Watch artcile*/
#watch {
  background-image: url("images/watch.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  width: 100%;
  height: 680px;
  display: flex;
  margin-bottom: 5px;
  flex-direction: column;
  padding-top: 35px;
  padding-bottom: 5px;
  align-items: center;
  line-height: 1.8;
}

#watch-link a {
  color: #943126;
  text-decoration: none;
  display: flex;
  font-size: 13px;
}

#watch h1 {
  font-size: 40px;
}

#watch h2 {
  font-size: 20px;
  color: #e74c3c;
}

#watch p {
  font-size: 20px;
}

/*Shot Phone Artcile*/
#shot-article {
  background-image: url("images/shotjpg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  width: 100%;
  height: 680px;
  display: flex;
  margin-bottom: 5px;
  flex-direction: column;
  padding-top: 35px;
  padding-bottom: 5px;
  align-items: center;
  line-height: 1.8;
}

#shot-article h1 {
  font-size: 38px;
}

#shot-article p {
  font-size: 20px;
}

#shot-article div a {
  font-size: 16px;
  text-decoration: none;
  display: flex;
  color: black;
}

/*Heart watch Artcile*/
#heart-watch {
  background-image: url("images/t3.watch.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  width: 100%;
  height: 680px;
  display: flex;
  margin-bottom: 5px;
  flex-direction: column;
  padding-top: 35px;
  padding-bottom: 5px;
  align-items: center;
  line-height: 1.8;
}

#small-link a {
  font-size: 13px;
  color: #943126;
  text-decoration: none;
  display: flex;
}

#heart-watch p {
  font-size: 20px;
  text-align: center;
}

#heart-watch h1 {
  font-size: 38px;
}

/*Future article*/

#future-article {
  background-image: url("images/future.watch.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  width: 100%;
  height: 680px;
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  padding-top: 35px;
  padding-bottom: 5px;
  align-items: center;
  line-height: 1.8;
}

#future-article h1 {
  color: white;
  font-size: 38px;
}

#future-article p {
  color: white;
  font-size: 20px;
}

/*Fitness article*/
#fitness-article {
  background-image: url("images/fitness.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  width: 100%;
  height: 680px;
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  padding-top: 35px;
  padding-bottom: 5px;
  align-items: center;
  line-height: 1.8;
}

#fitness-article h1 {
  font-size: 38px;
}

#fitness-article p {
  font-size: 20px;
}

/*Sospechosos article*/
#sospechoso-article {
  background-image: url("images/sospechoso.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  width: 100%;
  height: 680px;
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  padding-top: 35px;
  padding-bottom: 5px;
  align-items: center;
  line-height: 1.8;
}

#sospechoso-article h2 {
  color: white;
  font-size: 20px;
}

#sospechoso-article h1 {
  font-size: 38px;
  color: white;
}

/*footer*/
.footer {
  background-color: #f5f5f7;
  color: #6e6e73;
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons";
  text-align: center;
}
.footer a {
  text-decoration: none;
  color: #6e6e73;
}
